# Ignore practice notebooks
practice*.ipynb

# Ignore
temp*
*main*
my*
_titanic*

# Ignore Jupyter auto-saved junk
.ipynb_checkpoints/

# Ignore macOS junk
.DS_Store

# Ignore Python cache
__pycache__/

